@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  background: #33aa99; }
  body header {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw; }
    body header .ba-container {
      width: 1210px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between; }
      body header .ba-container .logo {
        padding: 53px 0; }
        body header .ba-container .logo img {
          width: 241px;
          height: 54px; }
      body header .ba-container .menu {
        font-family: 'GothamBook', sans-serif; }
        body header .ba-container .menu ul {
          list-style: none;
          display: flex;
          flex-flow: row nowrap;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px; }
          body header .ba-container .menu ul li {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding-right: 70px; }
            body header .ba-container .menu ul li:active .menu-dot {
              background: #ffffff; }
            body header .ba-container .menu ul li:hover .menu-dot {
              background: #ffffff; }
            body header .ba-container .menu ul li .menu-dot {
              display: block;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              border: 1px solid #ffffff;
              width: 10px;
              height: 10px;
              margin-right: 15px; }
            body header .ba-container .menu ul li a {
              text-decoration: none;
              color: #ffffff; }
      body header .ba-container .social-icons {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        font-size: 16px; }
        body header .ba-container .social-icons a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          text-align: center;
          line-height: 38px;
          margin-right: 25px; }
          body header .ba-container .social-icons a:last-child {
            margin-right: 0; }
          body header .ba-container .social-icons a:hover {
            border: 2px solid #ffffff; }
  body main {
    position: relative;
    width: 100vw;
    margin: 0 auto; }
    body main .slick-slider {
      width: 100%;
      margin-bottom: 0 !important; }
      body main .slick-slider .slide1 {
        background: url("../img/Bg.jpg") center center no-repeat;
        width: 100%;
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body main .slick-slider .slide1 .hero-text h1 {
          margin: 0 0 40px;
          font-family: 'gothambold1', sans-serif;
          font-size: 80px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-transform: uppercase; }
        body main .slick-slider .slide1 .hero-text h2 {
          font-family: 'gothambold1', sans-serif;
          font-size: 18px;
          letter-spacing: 0.3em;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 300; }
        body main .slick-slider .slide1 .scroll {
          border: 1px solid #ffffff;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px; }
          body main .slick-slider .slide1 .scroll a {
            text-decoration: none;
            color: #ffffff; }
            body main .slick-slider .slide1 .scroll a i {
              font-size: 14px; }
      body main .slick-slider .slide2 {
        background: #00b3ff;
        width: 100vw;
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body main .slick-slider .slide2 .hero-text h1 {
          margin: 0 0 40px;
          font-family: 'gothambold1', sans-serif;
          font-size: 80px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-transform: uppercase; }
        body main .slick-slider .slide2 .hero-text h2 {
          font-family: 'gothambold1', sans-serif;
          font-size: 18px;
          letter-spacing: 0.3em;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 300; }
        body main .slick-slider .slide2 .scroll {
          border: 1px solid #ffffff;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px; }
          body main .slick-slider .slide2 .scroll a {
            text-decoration: none;
            color: #ffffff; }
            body main .slick-slider .slide2 .scroll a i {
              font-size: 14px; }
      body main .slick-slider .slide3 {
        background: #1883ba;
        width: 100vw;
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body main .slick-slider .slide3 .hero-text h1 {
          margin: 0 0 40px;
          font-family: 'gothambold1', sans-serif;
          font-size: 80px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-transform: uppercase; }
        body main .slick-slider .slide3 .hero-text h2 {
          font-family: 'gothambold1', sans-serif;
          font-size: 18px;
          letter-spacing: 0.3em;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 300; }
        body main .slick-slider .slide3 .scroll {
          border: 1px solid #ffffff;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px; }
          body main .slick-slider .slide3 .scroll a {
            text-decoration: none;
            color: #ffffff; }
            body main .slick-slider .slide3 .scroll a i {
              font-size: 14px; }
      body main .slick-slider .slide4 {
        background: #3a768f;
        width: 100vw;
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body main .slick-slider .slide4 .hero-text h1 {
          margin: 0 0 40px;
          font-family: 'gothambold1', sans-serif;
          font-size: 80px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-transform: uppercase; }
        body main .slick-slider .slide4 .hero-text h2 {
          font-family: 'gothambold1', sans-serif;
          font-size: 18px;
          letter-spacing: 0.3em;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 300; }
        body main .slick-slider .slide4 .scroll {
          border: 1px solid #ffffff;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px; }
          body main .slick-slider .slide4 .scroll a {
            text-decoration: none;
            color: #ffffff; }
            body main .slick-slider .slide4 .scroll a i {
              font-size: 14px; }
      body main .slick-slider .slide5 {
        background: #33aa99;
        width: 100vw;
        height: 100vh;
        -webkit-background-size: cover;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center; }
        body main .slick-slider .slide5 .hero-text h1 {
          margin: 0 0 40px;
          font-family: 'gothambold1', sans-serif;
          font-size: 80px;
          letter-spacing: 0.05em;
          color: #ffffff;
          text-transform: uppercase; }
        body main .slick-slider .slide5 .hero-text h2 {
          font-family: 'gothambold1', sans-serif;
          font-size: 18px;
          letter-spacing: 0.3em;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 300; }
        body main .slick-slider .slide5 .scroll {
          border: 1px solid #ffffff;
          border-radius: 100%;
          width: 40px;
          height: 40px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 50px; }
          body main .slick-slider .slide5 .scroll a {
            text-decoration: none;
            color: #ffffff; }
            body main .slick-slider .slide5 .scroll a i {
              font-size: 14px; }
      body main .slick-slider .slick-dots {
        position: absolute;
        right: 0;
        top: calc(50% - 107px);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        width: 12px;
        height: 215px;
        margin-right: 40px; }
        body main .slick-slider .slick-dots li button {
          width: 10px;
          height: 10px;
          border-radius: 100%;
          border: 1px solid #ffffff; }
        body main .slick-slider .slick-dots li.slick-active button:before {
          color: transparent; }
        body main .slick-slider .slick-dots li.slick-active button {
          background: #ffffff; }

/*# sourceMappingURL=styles.css.map */